<form method="post" action="/create">
  <label for="filename">Name your document:</label>
  <div>
    <input name="filename" id="filename" />
    <button type="submit">Create document</button>
  </div>
</form>